@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  background-color: rgb(23, 23, 23);
  color: white;
  height: 100vh;
  width: 100vw;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b3b3b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}